{{ if eq .chezmoi.os "linux" -}}
source ~/.local/share/omakub/defaults/bash/rc
{{ end }}

# Editor used by CLI
export EDITOR="nvim"
export SUDO_EDITOR="$EDITOR"

# Path edits
export PATH="$PATH:$HOME/.config/composer/vendor/bin"
export PATH="$PATH:$HOME/.local/share/mise/installs/node/22.10.0/bin"

# Aliases

# Laravel specific
alias a='php artisan'
alias amfs='php artisan migrate:fresh --seed'
alias sail='[ -f sail ] && sh sail || sh vendor/bin/sail'

# Secrets
# export ANTHROPIC_API_KEY=$(op read "op://private/claude-nvim/credential")
