{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

if snap list | grep -q "firefox"; then
  echo "Removing Firefox Snap..."
  sudo snap remove --purge firefox
fi

# Install Firefox .deb if not installed
which firefox > /dev/null 2>&1
if [ $? -ne 0 ]; then
  echo "Installing Firefox .deb version..."
  
  # Create directory for APT repository keys
  sudo install -d -m 0755 /etc/apt/keyrings

  # Import Mozilla APT repository signing key
  wget -q https://packages.mozilla.org/apt/repo-signing-key.gpg -O- | sudo tee /etc/apt/keyrings/packages.mozilla.org.asc > /dev/null

  # Add Mozilla APT repository
  gpg -n -q --import --import-options import-show /etc/apt/keyrings/packages.mozilla.org.asc | awk '/pub/{getline; gsub(/^ +| +$/,""); if($0 == "35BAA0B33E9EB396F59CA838C0BA5CE6DC6315A3") print "\nThe key fingerprint matches ("$0").\n"; else print "\nVerification failed: the fingerprint ("$0") does not match the expected one.\n"}'

  # Configure APT to prioritize Mozilla packages
  echo '
  Package: *
  Pin: origin packages.mozilla.org
  Pin-Priority: 1000
  ' | sudo tee /etc/apt/preferences.d/mozilla

  # Update and install Firefox
  sudo apt-get update 
  sudo apt-get install -y firefox
else
  echo "Firefox .deb is already installed."
fi

# valet-linux-plus
composer global show "cpriego/valet-linux" > /dev/null 2>%1
if [ $? -eq 0 ]; then
    echo "valet-linux-plus is already installed"
else
  echo "Installing valet-linux-plus..."
  sudo apt-get install curl libnss3-tools jq xsel openssl ca-certificates
  composer global require cpriego/valet-linux
  sudo add-apt-repository ppa:ondrej/php
fi

# Utilities
if ! dpkg -l | grep -q "xclip"; then
  echo "Installing xclip ..."

  sudo apt install xclip
else
  echo "xclip is already installed."
fi


if ! dpkg -l | grep -q "libfuse2"; then
  echo "Installing libfuse2..."

sudo apt install libfuse2
else
  echo "libfuse2 is already installed."
fi


# DevTools

if ! dpkg -l | grep -q "tableplus"; then
  echo "Installing tableplus ..."
# Add TablePlus gpg key
  wget -qO - https://deb.tableplus.com/apt.tableplus.com.gpg.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/tableplus-archive.gpg >/dev/null
# Add TablePlus repo
  sudo add-apt-repository "deb [arch=amd64] https://deb.tableplus.com/debian/24 tableplus main"
# Install
  sudo apt update
  sudo apt install tableplus
else
  echo "TablePlus is already installed."
fi

if ! snap list | grep -q "postman"; then
  echo "Installing postman..."
  sudo snap install postman 
else
  echo "Postman is already installed."
fi

if ! snap list | grep -q "ngrok"; then
  echo "Installing ngrok..."
  sudo snap install ngrok
else
  echo "ngrok is already installed."
fi


which stripe > /dev/null 2>&1
if [ $? -ne 0 ]; then
  echo "Installing Stripe CLI..."
  curl -s https://packages.stripe.dev/api/security/keypair/stripe-cli-gpg/public | gpg --dearmor | sudo tee /usr/share/keyrings/stripe.gpg
  echo "deb [signed-by=/usr/share/keyrings/stripe.gpg] https://packages.stripe.dev/stripe-cli-debian-local stable main" | sudo tee -a /etc/apt/sources.list.d/stripe.list
  sudo apt update
  sudo apt install stripe

else
  echo "Stripe CLI is already installed."
fi

# Communication tools

if ! snap list | grep -q "slack"; then
  sudo snap install slack
else
  echo "Slack is already installed."
fi

if ! snap list | grep -q "discord"; then
  sudo snap install discord 
else
  echo "Discord is already installed."
fi

# Check for NVM installation
if [ -d "$HOME/.nvm" ]; then
  echo "NVM is already installed."
else
  echo "Installing NVM..."
  # Install NVM
  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash
  
  # Load NVM immediately for the rest of the script
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
  
  # Install latest LTS version of Node
  nvm install --lts
  nvm use --lts
fi

# Now we don't need to check for npm separately since it comes with Node

# No package manager available
which freeze > /dev/null 2>%1
if [ $? -eq 0 ]; then
  echo "freeze already installed."
else
  echo "Freeze is not installed. Opening browser for download..."
  xdg-open https://github.com/charmbracelet/freeze/releases & disown
fi


{{ end -}}


{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

brew install --cask alacritty

{{ end -}}

npm list -g blade-formatter > /dev/null 2>%1
if [ $? -eq 0 ]; then
  echo "blade-formatter already installed"
else
  echo "installing blade-formatter..."
  npm install -g blade-formatter
fi

npm list -g prettier  > /dev/null 2>%1
if [ $? -eq 0 ]; then
  echo "prettier already installed"
else
  echo "installing prettier..."
  npm install -g prettier 
  fi
  
  npm list -g yarn > /dev/null 2>%1
  if [ $? -eq 0 ]; then
    echo "yarn already installed"
  else
    echo "installing yarn..."
    npm install -g yarn
fi

