{{- $c := .palette.everforest.light -}}
## COLORSCHEME: everforest light soft
set -g @everforest_bg_dim '{{ $c.bg_dim }}'
set -g @everforest_bg0 '{{ $c.bg0 }}'
set -g @everforest_bg1 '{{ $c.bg1 }}'
set -g @everforest_bg2 '{{ $c.bg2 }}'
set -g @everforest_bg3 '{{ $c.bg3 }}'
set -g @everforest_bg4 '{{ $c.bg4 }}'
set -g @everforest_bg5 '{{ $c.bg5 }}'
set -g @everforest_bg_visual '{{ $c.bg_visual }}'
set -g @everforest_bg_red '{{ $c.bg_red }}'
set -g @everforest_bg_green '{{ $c.bg_green }}'
set -g @everforest_bg_blue '{{ $c.bg_blue }}'
set -g @everforest_bg_yellow '{{ $c.bg_yellow }}'

set -g @everforest_fg '{{ $c.fg }}'
set -g @everforest_red '{{ $c.red }}'
set -g @everforest_orange '{{ $c.orange }}'
set -g @everforest_yellow '{{ $c.yellow }}'
set -g @everforest_green '{{ $c.green }}'
set -g @everforest_aqua '{{ $c.aqua }}'
set -g @everforest_blue '{{ $c.blue }}'
set -g @everforest_purple '{{ $c.purple }}'
set -g @everforest_grey0 '{{ $c.grey0 }}'
set -g @everforest_grey1 '{{ $c.grey1 }}'
set -g @everforest_grey2 '{{ $c.grey2 }}'
set -g @everforest_statusline1 '{{ $c.statusline1 }}'
set -g @everforest_statusline2 '{{ $c.statusline2 }}'
set -g @everforest_statusline3 '{{ $c.statusline3 }}'

set-option -g status-style 'fg={{ $c.fg }},bg={{ $c.bg0 }},default'
set -g @sessionx-additional-options "--color=fg:{{ $c.fg }},bg:{{ $c.bg0 }},hl:{{ $c.yellow }},fg+:{{ $c.fg }},bg+:{{ $c.bg1 }},hl+:{{ $c.yellow }},info:{{ $c.grey0 }},prompt:{{ $c.green }},pointer:{{ $c.red }},marker:{{ $c.orange }},spinner:{{ $c.blue }},header:{{ $c.grey1 }},border:{{ $c.bg3 }},separator:{{ $c.bg3 }},scrollbar:{{ $c.grey0 }},gutter:{{ $c.bg0 }},query:{{ $c.fg }}"
