[Desktop Entry]
Version=1.0
Name=Docker
Comment=Manage Docker containers with LazyDocker
Exec=ghostty --title=Docker -e lazydocker
Terminal=false
Type=Application
Icon=/home/raven/.local/share/icons/Docker.png
Categories=System;Monitor;
StartupNotify=false
Keywords=docker;containers;lazydocker;
